/*================ Featured image/text =====
==========================================*/
.feature-column--image-text {
  text-align: center;
  padding: 120px 10%;
  margin: auto;

  .title {
    color: #93a0ee;
    font-family: "GT America Condensed";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.05px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 37px;

    @media (max-width: $small) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .subtitle {
    color: #000000;
    font-family: "Louize Display";
    font-size: 72px;
    line-height: 36px;
    margin-bottom: 36px;

    @media (max-width: $small) {
      font-size: 34px;
      line-height: 36px;
    }
  }

  .container {

    @media (max-width: $small) {
      flex-wrap: wrap;
    }

    .article.one  {
      padding: 50px 50px 0;
      text-align: right;

      @media (max-width: $small) {
        padding: 0;
      }
    }

    .article.two {
      text-align: left;
      align-self: flex-end;
      // height: 500px;

      .title {
        @media (max-width: $small) {
          font-size: 16px;
          line-height: 20px;
          margin-top: 18px;
        }
      }

      p, .title {
        max-width: 73%;

        @media (max-width: $small) {
          max-width: 100%;
        }
      }

      p {
        color: #000000;
        font-family: "Louize Display Regular";
        font-size: 24px;
        line-height: 42px;

        @media (max-width: $small) {
          font-size: 16px;
          line-height: 24px;
        }
      }

    }

  }

}
