#primary-footer {

  padding-top: 120px;

  @media (max-width: $small) {
    padding-top: 80px;
  }

  .footer-inner {
    max-width: 1170px;
    margin: auto;
  }

  a {
    text-decoration: none;
  }

  .footer-title h2 {
    font-family: "Louize Display Regular";
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
  }

}
.footer-close {

  @media (max-width: $small) {
    flex-direction: column;
    align-items: center;
  }

  .credit {
    flex: 1;
    text-align: right;

    h4 {
      color: #000000;
      font-family: "GT America Condensed";
      font-size: 20px;
      font-weight: 700;
      line-height: 34px;
      text-transform: uppercase;
    }

  }

}
.footer-close .social {
  flex: 1;

  h4 {
    color: #000000;
    font-family: "GT America Condensed";
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
  }

  ul {

    margin-top: 20px;

    li {
      max-width: 40px;
      margin-right: 15px;

      a {
        border-radius: 100%;
      }

      .icon__fallback-text {
        visibility: hidden;
      }
    }

  }
}
.newsletter {
  border: 2px solid #000000;
  padding: 22px;
  max-width: 1170px;
  height: 110px;
  margin-bottom: 50px;

  @media (max-width: $small) {
    height: auto;
    padding: 24px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 36px;
  }

  form {

    label {
      flex: 2;
      font-family: "GT America Condensed";
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      top: -5px;

      @media (max-width: $small) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 12px;
      }
    }

    input {
      // flex: 1;
      width: 364px;
      height: 66px;
      border: 2px solid #000000;
      background-color: #ffffff;
      font-family: "GT America Condensed";
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;

    }

    button {
      // flex: 1;
      width: 166px;
      height: 65px;
      background-color: #000000;
      color: #ffffff;
      font-family: "GT America Expanded";
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: $small) {
        margin-top: 6px;
        width: 100%;
      }

    }

  }

}
.footer-links {

  margin: 94px 0 50px 0;

  ul {
    flex: 1;
    list-style-type: none;
    padding: 0;

    li {

      a {
        color: #000000;
        font-family: "GT America Condensed";
        font-size: 20px;
        font-weight: 100;
        line-height: 34px;
        text-transform: uppercase;
      }

    }

    li.menu-title {
      color: #000000;
      font-family: "GT America Condensed Bold";
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }

  }

}
.footer-links.mobile {
  ul {
    flex: 1;

    li.menu-title {
      display: block!important;
      border-bottom: solid 1px black;
      padding: 10px;
      position: relative;

      &:after {
        content: '>';
        position: absolute;
        right: 10px;
      }

      &:last-child {
        border-bottom: none;
      }

    }

    li {
      display: none;
      padding: 10px;
      // border-bottom: dashed 1px #000;
      //
      // :before {
      //   content: ' > '
      // }
    }

  }
}
