#primary-header {
  // padding: 0 80px 50px 80px;
  padding: 30px 60px 50px;
  background: #eef315;

  .logo h1 {
    font-family: "Louize Display Regular";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; }

  svg {
    max-width: 20px;
  }
}
.logo {
  flex: 1;
}
.menu {
  flex: 3;

  ul {
    flex: 1;
  }

}

.icons {
  flex: 1;
  justify-content: flex-end;

  .search {
    width: 10%;
    margin-right: 24px;
  }

  .site-header__account {
    width: 10%;
    margin-right: 24px;
    max-width: 18px;
  }

  .site-header__cart {
    width: 10%;
    margin-left: 24px;
  }

}
