.mobile-menu-area {
    padding: 36px 24px 48px;
    background: $brand-color-1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    left: -100%;
    transition: left .5s;
    z-index: 2;

    @include medium-up {
        max-width: 320px;
    }

    @include large-up {
        display: none;
    }

    .top {
        margin-bottom: 36px;
        display: flex;

        .mobile-menu-toggle {
            svg {
                vertical-align: middle;
            }
        }

        .currency-selector {
            flex-grow: 1;
            margin-right: 24px;
            text-align: right;
        }

        .nav-links {
            text-align: right;

            li {
                display: inline;
                margin-left: 12px;

                &:first-child {
                    margin-left: 0;
                }

                &.search-link {
                    
                    svg {
                        width: 15px;
                        height: 20px;

                        path {
                            stroke-width: 2;
                        }
                    }
                }
            }
        }
    }

    .links-area {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 80px;

        .links {
            a {
                display: block;
                line-height: 24px;
            }
    
            > .link-item {
                margin-bottom: 48px;
    
                > a {
                    @include header-font-secondary-normal;
                    font-size: 20px;
                    margin-bottom: 12px;
                }
            }
        }

        .child-links {
            > .link-item {
                border-bottom: solid 1px $body-text-color;
                padding: 12px 0;
    
                &.is-parent {
    
                    > a {
                        position: relative;
    
                        .chevron {
                            position: absolute;
                            right: 0;
                            transform: rotate(180deg);
                            transition: transform .25s;
                        }
                    }
    
                    .grand-child-links {
                        display: none;
            
                        > .link-item {
                            > a {
                                @include header-font-secondary-normal;
                            }
                        }
                    }
    
                    &.is-parent--active {
                        .chevron {
                            transform: rotate(0deg);
                        }
    
                        .grand-child-links {
                            display: block;
                        }
                    }
                }
    
                > a {
                    @include header-font-secondary-bold;
                }
            }
        }
    }
}

// Mobile menu open
body.mobile-menu-open .mobile-menu-area {
    left: 0;
}