$small-cricle-radius: 12px;
$large-cricle-radius: 30px;
$padding: 30px;
$border-grey: #cbcbcb;
// wrapper
$wrapper-width: 1400px - 180px;
$wrapper-padding-side: 90px;
// image-and-text
$image-text-content-area-width: 450px;
$image-text-margin: 100px;
$image-text-to-half: calc(#{$wrapper-width} / 2 - (#{$image-text-content-area-width / 2}));
$image-text-to-opposite: calc(#{$wrapper-width} - #{$image-text-content-area-width});

@mixin connection($position: 'top', $element: 'line', $height: 0, $left: 0, $right: 0) {
    content: '';
    position: absolute;
    left: $left;
    right: $right;
    margin: auto;

    @if $position == 'top' {
        @if $element == 'circle' {
            top: $padding;
        }

        @if $element == 'line' {
            top: -$height;
        }
    }

    @if $position == 'bottom' {
        @if $element == 'circle' {
            bottom: $padding;
        }

        @if $element == 'line' {
            bottom: -$height;
        }
    }
}
@mixin circle-small {
    width: $small-cricle-radius;
    height: $small-cricle-radius;
    background-color: $secondaryColor;
    border-radius: 100%;
}
@mixin circle-large {
    width: $large-cricle-radius;
    height: $large-cricle-radius;
    background-color: $primaryColor;
    border-radius: 100%;
}

@mixin line($axis: 'vertical', $height: $padding) {
    background: $border-grey;

    @if $axis == 'vertical' {
        width: 1px;
        height: $height;
    }

    @if $axis == 'horizontal' {
        height: 1px;
        width: 100px;
    }
}

@mixin corner($position: 'left', $height: $image-text-margin * 1.5 + $padding, $width: $image-text-to-opposite) {
    height: $height;
    width: $width;
    border-top: 1px solid $border-grey;
    top: calc(-#{$height} + #{$padding});
    margin: 0;
    
    @media screen and (max-width: 1400px){
        @if $width == $image-text-to-opposite {
            width: calc(100vw - 630px);
        } @else {
            width: calc(100vw / 2 - (315px));
        }
    }

    @if $position == 'left' {
        left: 50%;
        right: auto;
        border-left: 1px solid $border-grey;
    }

    @if $position == 'right' {
        right: 50%;
        left: auto;
        border-right: 1px solid $border-grey;
        border-left: none;
    }
}

$mobile-line-height: 70px;

.show-connecting-lines {
    // first section

    section.landing-block-v2-header,
    section.landing-block-v2-navigation {
        + section.landing-block-v2-title-block {
            padding-bottom: $padding + $small-cricle-radius;

            &::after {
                @include aboveTablet {
                    @include connection('bottom', 'circle');
                    @include circle-small;
                }

                @include tablet {
                    @include connection('bottom', 'line', 30px);
                    @include line('vertical', 60px);
                }
            }

            &::before {
                @include aboveTablet {
                    @include connection('bottom', 'line', $image-text-margin);
                    @include line('vertical', ($image-text-margin + $padding));
                }

                @include tablet {
                    @include connection('bottom', 'circle');
                    @include circle-small;
                }
            }

            // followed by image and text
            + section.landing-block-v2-image-and-text {
                .content-area::before {
                    @include aboveTablet {
                        @include corner('left', $image-text-margin + $padding, $image-text-to-half);
                    }

                    @include tablet {
                        // @include line('vertical', ($image-text-margin / 2));
                    }
                }

                // image on the left
                .image-side--left .content-area::before {
                    @include corner('right', 50%, $image-text-to-half);
                }
            }
        }
    }

    section:not(.landing-block-v2-navigation) {
        &:not(.landing-block-v2-header) {
            position: relative;

            // title block
            + section.landing-block-v2-title-block {
                padding-top: $padding + $small-cricle-radius;

                &::after {
                    @include aboveTablet {
                        @include connection('top', 'line', 0px);
                        @include circle-small;
                    }

                    @include tablet {
                        @include connection('top', 'line', 10px);
                        @include circle-small;
                    }
                }

                &::before {
                    @include aboveTablet {
                        @include connection();
                        @include corner('left', ($image-text-margin / 2), $image-text-to-half);
                        top: (-$large-cricle-radius / 2 - ($image-text-margin / 2) + ($large-cricle-radius / 2));
                    }
                }
            }

            // image and text
            + section.landing-block-v2-image-and-text {
                .wrapper {
                    overflow: visible;
                }

                .content-area {
                    &::after {
                        @include aboveTablet {
                            @include connection('top', 'circle');
                            @include circle-large;
                        }

                        @include tablet {
                            @include connection('top', 'line', 30px);
                            @include circle-large;
                        }
                    }

                    &::before {
                        @include aboveTablet {
                            @include connection;
                            @include corner;
                        }
                    }
                }

                &:before {
                    @include tablet {
                        @include connection('bottom', 'line', 40px);
                        @include line('vertical', 60px);
                        z-index: 1;
                    }
                }



                // second part to lead into next section
                .content-area-wrapper {
                    position: relative;
                    z-index: 1;

                   @media screen and (max-width: 2500px){
                        padding: 80px 0;
                    }

                    @include tablet{
                        padding: 0;
                    }

                    &::before {
                        @include aboveTablet {
                            @include connection('bottom', 'line', $image-text-margin * 1.5);
                            @include line('vertical', $image-text-margin * 1.5 + $padding + $large-cricle-radius);
                        }
                    }
                }

                // image on the left
                .image-side--left {
                    .content-area::before {
                        @include aboveTablet {
                            @include corner('right');
                        }
                    }
                }

                // followed by image and text
                + section.landing-block-v2-image-and-text {
                    .content-area::before {
                        @include aboveTablet {
                            @include corner('left', $image-text-margin + $padding);
                        }
                    }

                    .image-side--left .content-area::before {
                        @include aboveTablet {
                            @include corner('right');
                        }
                    }
                }

                // followed by text over image
                + section.landing-block-v2-text-over-image::before {

                    @include aboveTablet {
                        @include corner('left', ($image-text-margin / 2), $image-text-to-half);
                        top: (-$large-cricle-radius / 2 - ($image-text-margin / 2) + ($large-cricle-radius / 2));
                    }

                    @include tablet {
                        @include connection('bottom', 'line', 80px);
                        @include line('vertical', 65px);
                    }
                }
            }

            // text over image
            + section.landing-block-v2-text-over-image {
                &::after {
                    @include aboveTablet {
                        @include connection('top', 'circle');
                        @include circle-large;
                        top: -$large-cricle-radius / 2;
                    }

                    @include tablet {
                        @include connection('top', 'line', 15px);
                        @include circle-large;
                        z-index: 2;
                    }
                }

                &::before {
                    @include aboveTablet {
                        @include connection;
                        @include corner;
                        top: -$large-cricle-radius / 2;
                    }
                }

                // second part to lead into next section
                > div::before {
                    @include aboveTablet {
                        @include connection('bottom', 'line', $image-text-margin / 2);
                        @include line('vertical', $image-text-margin / 2);
                    }
                }

                // followed my image + text
                + section.landing-block-v2-image-and-text .content-area {
                    &::before {
                        @include aboveTablet {
                            @include corner('left', $image-text-margin * 1.5 + $padding, $image-text-to-half);
                        }
                    }
                }
            }
        }
    }
}
