@import "includes/mixins";
@import "includes/variables.scss";
@import "includes/globals.scss";
@import "includes/fonts.scss";

@import "components/site_header";

@import "elements/hamburger_icon";

@import "sections/featured_products";
@import "sections/hero";
@import "sections/icon_info_list";

$slick-font-path: "/node_modules/slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "/node_modules/slick-carousel/slick-carousel/slick/" !default;
$slick-arrow-color: black !default;
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";