<div
class="hero-inner flex--column justify--center align--center"
style="color: {{ section.settings.title_color }};"
>
  {%- include 'hero-year' -%}

  {%- include 'hero-title' -%}

  {%- include 'hero-caption' -%}

  {%- include 'hero-button' -%}

</div>
