.blog-landing-page{

    
    .blog-header{

        margin-bottom: 30px;

        .left-area, .right-area{
            @include flex-basis(0);
            @include flex-grow(1);

            @include tablet{
                width: 100%;
                @include flex-basis(auto);
                @include justify-content(center);
            }
        }

        .left-area{
            input{
                border: 0 none;

                @include placeholder{
                    font-style: italic;
                }
            }
        }
 
        h1{
            font-size: 25px;
            text-align: center;

            @include tablet{
                @include order(-1);
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }

    .blog-header-desc{
        max-width: 800px;
        margin-bottom: 30px;
    }

    .blog-filter-area{
        margin-bottom: 50px;

        @include tablet{
            margin-bottom: 30px;
        }

        h2{
            color: $grey;
            font-size: 17px;
            margin-bottom: 10px;
            font-weight: 400;
        }

        ul{
            li{
                margin-bottom: 10px;
                a{
                    font-size: 13px;

                    &:hover{
                        background: #ffc301;
                    }
                }

                &.active{
                    a{
                        background: #ffc301;
                    }
                } 
            }
        }
    }

    .blog-posts{
        margin-top: 50px;
        max-width: 1600px;

        @include tablet{
            margin-top: 30px;
        }

        .blog-posts-grid{ 
            @include flexbox;
            @include flex-wrap(wrap); 
            margin: 0 -45px 80px -45px;
            padding-top: 20px;
            padding-left: 20px;

            @include tablet{
                margin-bottom: 10px;
            }

            > *{
                padding-left: 45px;
                padding-right: 45px; 
            }

            .article-grid-item{
                width: calc(100% / 3);

                @include tablet{
                    width: 100%;
                }
            }
        }

        .load-more-container{
            margin-bottom: 50px;
          a{
            font-weight: 400;
            &:before{
              content: attr(data-load-more-text);
            }

            &[disabled]{
              &:before{
                content: attr(data-loading-text);
              }
            }

            &:after{
                content: "";
                width: 10px;
                height: 7px;
                background-image: url(liquid("{{ 'icon-arrow-down.svg' | asset_url }}"));
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                display: block;
                margin: 10px auto 0 auto;
                @include transition(all 0.35s ease);
            }

            &:hover{
                &:after{
                    @include transform(translateY(5px));
                }
            }
          }
        }
    }

}