.page-video{
    text-align: center;
    h1{
        text-align: center;
        margin-bottom:40px;
    }
    h2{
        margin-bottom:40px;
    }
    .rte{
        margin:30px 0;
    }
    video{
        width:100%;
        margin-bottom:40px;
    }
    .product-grid-slider{
        @include tablet{
            .slick-list{
                margin-left: -72px;
            }
        }
        @include desktop{
            .slick-next{
                right:-40px;
            }
            .slick-prev{
                left:-40px;
            }
            .product-grid-item{
                padding:0 10px;
            }
        }
        
    }
}