.template--collection {

    > main {
        background: $brand-color-2;

        .container {
            padding: 36px 24px;

            @include large-up {
                display: flex;
            }
        }

        .filter-sort-bar-area {

            $bar-height: 35px;

            display: flex;
            border-bottom: solid $black 1px;

            @include large-up {
                display: none;
            }

            .bar-item {
                border-right: solid $black 1px;
                height: $bar-height;
                flex-grow: 1;

                @include medium-up {
                    flex-basis: 50%;
                }

                &:last-child {
                    border-right: none;
                }
            }

            #bc-sf-filter-tree-mobile {
                button {
                    @include header-font-secondary-bold;
                    color: $body-text-color;
                    font-size: $body-text-size;
                    background: none;
                    margin: 0;
                    padding: 0;
                    line-height: $bar-height;
                }
            }

            #bc-sf-filter-top-sorting {
                text-align: center;

                label {
                    @include header-font-secondary-bold;
                    line-height: $bar-height;
                    margin: 0;
                }

                select {
                    @include header-font-secondary-bold;
                    font-size: $body-text-size;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    background: none;

                    &::-ms-expand {
                        display: none;
                    }
                }
            }
        }

        .filter-sort-column-area {

            @include large-up {
                min-width: $logo-width-l + $left-column-width;
            }

            @include xlarge-up {
                min-width: $logo-width-xl + $left-column-width;
            }
        }

        .collection-area {
            .collection__title {
                @include body-font;
                font-size: 38px;
                margin-bottom: 36px;
            }

            .collection__description {
                margin-bottom: 36px;

                p {
                    line-height: 1.4;
                }
            }
    
            .products {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 18px;

                @include medium-up {
                    grid-template-columns: repeat(3, 1fr);
                }

                @include large-up {
                    column-gap: 30px;
                }
    
                .product {
                    padding: 0;
                    margin-bottom: 48px;
                    margin-right: 0;

                    // @include small-only {
                    //     @include flex-items(2, 18px);
                    // }
    
                    // @include medium-only {
                    //     @include flex-items(3, 18px);
                    // }
    
                    // @include large-up {
                    //     @include flex-items(3, 30px);
                    // }

                    &.featured {
                        grid-column-start: auto;
                        grid-column-end: span 2;

                        @include medium-up {
                            grid-row-start: auto;
                            grid-row-end: span 2;
                        }

                        .product__info-area {
                            flex-direction: row;
                        }
                    }
    
                    .product__info-area {
                        flex-direction: column;
    
                        @include large-up {
                            flex-direction: row;
                        }
                    }
    
                    .product__title {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}