/* featured-collection */
.feature-collection {
  margin: auto;
}
.feature-collection .desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: wrap;
}

.feature-collection figure {
  width: 30%;
  margin: 0;
  padding: 0;
}
.feature-collection figure img {
  max-width: 100%;
}

.feature-collection figcaption {
  padding: 20px 0;
}

/*================ Media Queries for Desktop ================*/
/*============================================================================*/
@media only screen and (max-width: 740px) {
  .feature-collection figure {
    width: 100%;
    padding: 18px 30px 0;
  }
}
/*================ Media Queries for Mobile ================*/
/*============================================================================*/
@media only screen and (min-width: 741px) {

}
