{%- assign item_video = true -%}

<section
class="feature__video flex--column"
style="background: {{ section.settings.section_bg }}
">
  <header>

    {%- include 'divider' -%}

    {%- include 'section--title' -%}

  </header>


  <div class="desktop">
    <div class="video-container flex--row wrap justify--between">

      {% for block in section.blocks %}

        {%- include 'item' -%}

      {% endfor %}

    </div>
  </div>
  <div class="mobile">
    <div class="video-container flex--row wrap justify--between">

      <div class="slider">
        {%- include 'video-collection' -%}
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Video Blocks",
	"max_blocks": 3,
  "settings": [
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section Background Color",
      "default": "#f00"
    },
    {
      "id": "section_title",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "divider",
      "type": "checkbox",
      "label": "Top Border"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "id": "video_url",
          "type": "video_url",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=rWOxyBfq6rs",
          "placeholder": "Insert Video Link"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Video Caption",
          "default": "Boho Video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Blocks",
      "category": "Boho Sections",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
