<section
class="icon-banner flex"
style="
  background: {{ section.settings.section_bg }};
  color: {{ section.settings.font_color }};
">

  <div class="container flex--row justify--center wrap">

    {% for block in section.blocks %}

      {%- include 'banner--icons' -%}

    {% endfor %}

  </div>
</section>

{% schema %}
  {
    "name": "Banner Items with icon",
    "max_blocks": 3,
    "settings": [
        {
        "type":   "range",
        "id":     "block_range",
        "min":       1,
        "max":       3,
        "step":      1,
        "label":     "Banner Items",
        "default":   3
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Section Background",
        "default": "#f00"
      },
      {
        "type": "color",
        "id": "font_color",
        "label": "Font Color",
        "default": "#f00"
      },
      {
        "type": "checkbox",
        "id": "icons_on_off",
        "label": "Remove Icons"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Banner Items",
        "settings": [
          {
              "type": "text",
              "id": "banner_caption",
              "label": "Banner Caption"
          },
          {
              "type": "image_picker",
              "id": "banner_image",
              "label": "Banner Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Boho Sections",
        "name": "Banner Items"
      }
    ]
  }
{% endschema %}
