.big-feature {
  padding: 120px 15%;
  text-align: center;

  .title {
    margin: 64px -50px;
    font-family: "GT America Condensed";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    @media (max-width: $small) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  .feature-text {
    max-width: 970px;
    color: #000000;
    font-family: "Louize Display Regular";
    font-size: 24px;
    line-height: 42px;

    @media (max-width: $small) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .feature-button {
    width: 255px;
    height: 20px;
    color: #000000;
    font-family: "GT America Expanded";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    border: solid 1px;
    padding: 10px;
    margin-top: 64px;

    @media (max-width: $small) {
      font-size: 12px;
      line-height: 20px;
    }
  }

}
.image-container {
  @include flex;
  background: url('https://via.placeholder.com/500x400');
  background-size: cover;
  max-width: 670px;
  margin: auto;
  height: calc(100vh - 100px);

  h2 {
    margin: auto -80px;
    color: #ffffff;
    font-family: "GT America Condensed";
    font-size: 94px;
    line-height: 86px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $small) {
      font-size: 42px;
      margin: auto -20px;
      line-height: 42px;
    }

  }
}
