.feature__video {

  @include pageWidth(5%);

  .section__title {
    padding-top: 80px;
    padding-bottom: 48px;

    @include fontProps (
      42px,  // font-size
      normal,// line-height
      700,   // font-weight
      normal // letter-spacing
    )

  }

  .video-container {

    .item__container {
      width: 30%;
      min-width: 300px;

      .item__caption {
        padding-top: 36px;

      }

    }

  }

}
