.hero {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-inner {
  height: 1080px;
  max-width: 70%;
  margin: auto;

  @media (max-width: $small) {
    height: 561px;
  }

  .year {
    font-family: "GT America Condensed";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  .hero-title {
    font-family: "GT America Condensed";
    font-size: 94px;
    font-weight: 700;
    line-height: 86px;
    text-transform: uppercase;
    margin: 64px 0;
    text-align: center;

    @media (max-width: $small) {
      font-size: 42px;
      line-height: 42px;
      margin-top: 24px;
      margin-bottom: 36px;
    }
  }

  .hero-caption {
    margin: 20px 0;
    text-align: center;
    color: #eef315;
    font-family: "Louize Display Regular";
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 64px;

    @media (max-width: $small) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 36px;
    }
  }

  .hero-btn {
    font-family: "GT America Expanded";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 295px;
    padding: 10px;
    text-decoration: none;
    text-align: center;

    @media (max-width: $small) {
      font-size: 12px;
      line-height: 20px;
      // margin-bottom: 36px;
    }
  }

}
