<div class="sub-container flex--row">
  <div class="col">

    {%- if block.settings.banner_image != blank -%}

      <img class="" src="{{ block.settings.banner_image | img_url: '1920x' }}" alt="{{ block.settings.banner_image | alt }}">

    {%- endif -%}

  </div>
  <div class="col">

    <span class="caption">

      {%- if block.settings.banner_caption != blank -%}

        {{ block.settings.banner_caption }}

      {%- endif -%}

    </span>

  </div>
</div>
