<div class="container">
  <h2 class="h1 two-col-article-heading">
      {{ article_heading }}
  </h2>
  <a
    href="{{ article_button_link }}"
    class="btn btn-large two-col-article-button">
      {{ article_button_text }}
  </a>
</div>
