<form action="/search">

  <input type="text" name="q" placeholder="Search" value="{{ search.terms | escape }}" />

  <button type="submit">
    Search
    {% render 'icon_search' %}
  </button>
  
</form>