<section class="section-container two-col-layout">
  <div class="flex--row">

    <article
    class="col"
    style="
    background: {{ section.settings.lc_bg }};
    color: {{ section.settings.lc_font_color }};
    ">

      {%- include 'left-col-logic' -%}

    </article>
    <article
    class="col"
    style="
    background: {{ section.settings.rc_bg }};
    color: {{ section.settings.rc_font_color }};
    ">

      {%- include 'right-col-logic' -%}

    </article>
  </div>
</section>
