body.template-full-page-about {
    main > .inner {
        padding-top: 0;
    }

    .information-ticker {
        margin: 89px 0;
        @include smallDesktop {
            margin: 89px 0 50px;
        }
        @include tablet {
            margin:89px 0 0;
        }
    }
}

.about-intro {
    position: relative;

    &__image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 60%;
        z-index: -1;

        .landing-page &{
            width: 100%;
        }

        @include smallDesktop {
            height: 90%;
            width: 75%;
        }
        @include tablet {
            position: relative;
            width:100%;
            height:265px;
        }
    }

    &__text {
        width: 680px;
        margin-left: calc(100vw - #{$siteWithHalf});
        margin-right: -220px;
        margin-top: 148px;
        position: relative;
        z-index: 1;

        .landing-page &{
            margin-left: 0;
            margin-top: 300px;
            margin-bottom: -100px;
            padding: 40px;

            @include tablet{
                margin: 0;
                padding: $siteMobilePadding;
            }
        }

        @include smallDesktop {
            width: calc(100% - 50px);
            margin-left: 25px;

            .landing-page &{
                margin-left: 0;
            }
        }
        @include tablet {
            width:100%;
            margin:0;
            padding-bottom:0;
        }

        &::after {
            content: '';
            width: 0;
            height: 1px;
            position: absolute;
            top: -9px;
            left: 0;
            background: white;
            opacity: 0.5;
            transition: 0.9s all linear;
        }

        &::before {
            content: '';
            width: 1px;
            height: 0;
            position: absolute;
            top: -9px;
            right: -9px;
            background: white;
            opacity: 0.5;
            transition: 0.9s all ease-out 0.9s;
        }

        &.active {
            &::after {
                width: calc(100% + 9px);
            }

            &::before {
                height: calc(100% + 9px);
            }
        }

        h1 {
            margin-bottom: 41px;
        }

        p {
            font-size: 17px;
            letter-spacing: 0.57px;
            line-height: 27px;
            @include mobile {
                font-size: 15px;
                line-height: 27px;
                letter-spacing: 0.5px;
            }
        }

        .btn{
            display: inline-block;
            margin-top: 30px;
            font-size: 16px;
        }
    }
}

.about-block {
    margin-top: 169px;
    @include smallDesktop {
        margin-top: 120px;
    }
    @include tablet {
        margin-top: 89px;
        display: block;
    }
    @include mobile {
        padding:0;
    }

    &.dual-image {
        margin-top: -60px;
        @include smallDesktop {
            margin-top: -45px;
        }
        @include tablet {
            margin-top: 80px;
        }

        .about-block__image {
            position: relative;
            text-align: left !important;

            img {
                z-index: 2;

                @include mobile {
                    width:47%
                }

                &:nth-of-type(2) {
                    margin-left: auto;
                    display: block;
                    margin-top: 106px;
                    @include smallDesktop {
                        margin-top: 61px;
                    }
                }
            }

            &::after {
                content: '';
                width: 344px;
                height: 344px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background: $bgGrey;
                z-index: -1;
                @include smallDesktop {
                    // display: none;
                }

                @include mobile {
                    display: block;
                    width:207px;
                    height:201px;
                }
            }
        }
    }

    &.flex-reverse .about-block__image {
        text-align: right;
        margin-left: 159px;
        margin-right: 0;
        @include smallDesktop {
            margin-left: 60px;
        }
        @include tablet {
            margin-left: 0;
        }
    }

    &.vertical-top .about-block__text {
        margin-top: 65px;
    }

    &__text {
        min-width: 406px;
        max-width: 406px;

        .btn{
            margin-top: 20px;
        }
        @include smallDesktop {
            min-width: 350px;
            max-width: 350px;
        }
        @include tablet {
            min-width: 100%;
            max-width: 100%
        }
        @include mobile {
            padding:0 25px;
            animation-delay:0s !important
        }
    }

    &__image {
        width: calc(100% - 206px - 159px);
        margin-right: 159px;
        @include smallDesktop {
            margin-right: 60px;
        }
        @include tablet {
            margin-right: 0;
            width:100%;
            text-align: center !important;
            margin-bottom:89px;

            .landing-page &{
                margin-bottom: 40px;
            }
        }

        img {
            max-width: 100%;
        }

        &.box-shadow {
            padding-bottom: 40px;
            padding-left:40px;

            @include mobile {
                padding:0 25px 29px 54px;
            }

            img {
                box-shadow: -40px 40px $bgGrey;

                @include mobile {
                    box-shadow: -29px 29px $bgGrey
                }
            }
        }
    }

    h3 {
        font-size: 23px;
        letter-spacing: 3px;
        margin-bottom: 19px;
    }

    p {
        line-height: 23px;
        letter-spacing: 0.43px;
    }
}
