.single-article{

    > header{
        .left-area{
            width: calc(100% - 450px);

            @include tablet{
                width: 100%;
            }

            img{
                width: 100%;
            }
        }

        .right-area{
            width: 450px;
            background: #fff;
            padding: 80px 0;

            @include tablet{
                width: 100%;
                padding: $siteMobilePadding;
            }

            .date{
                font-size: 11px;
                margin-bottom: 60px;
                padding: 0 80px;

                @include tablet{
                    padding: 0;
                    margin-bottom: 30px;
                }
            }

            h1{
                line-height: 1.1;
                letter-spacing: 5.5px;
                margin-bottom: 100px;
                font-size: 43px;
                @include transform(translateX(-70px));

                @include tablet{
                    @include transform(none);
                    font-size: 30px;
                    letter-spacing: 3px;
                    margin-bottom: 30px;
                }
            }

            .bottom-area{
                padding: 0 80px;

                @include tablet{
                    padding: 0;
                }

                .social-sharing{
                    .text{
                        display: none;
                    }

                    li{
                        a{
                            width: 24px;
                            height: 24px;

                            span{
                                line-height: 24px;
                            }
                        }
                    }
                }

                .subtitle{
                    font-size: 17px;
                    margin-top: 30px;
                    line-height: 1.6;
                }
            }

        }
    }

    .intro-content{
        margin-top: 100px;
        margin-bottom: 100px;

        @include tablet{
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }


    .featured-products{
        .featured-products-slider{
            padding: 0 100px;

            @include tablet{
              padding: 0 0 30px 0;
              
              .slick-list{
                margin-left: -105px;

                .slick-track{
                  @include flexbox;

                  .slick-slide{
                    @include flexbox;
                    height: auto;
                  }
                }
              }

              .slick-dots{
                bottom: 0;
                @include flexbox;
                @include justify-content(center);
                padding: 0 25px;

                li{
                  margin: 0;
                  @include flex-basis(0);
                  @include flex-grow(1);
                  max-width: 100px;
                  button{
                    width: 100%;
                    &:before{
                      height: 5px;
                       @include transition(all 0.35s ease);
                    }
                  }

                  &:not(.slick-active){
                    button{
                      &:before{
                        background: #fafafa;
                      }
                    }
                  }
                }
              }
            }

            .slick-track{
                @include flexbox;
            }

            .slick-arrow{
                padding: 10px;
                background-size: 7px 10px;
            }

            .product-grid-item{
                padding: 0 20px;

                @include tablet{
                    padding: 0 10px;
                }
            }
        }
    }


    .article-content-blocks{
        margin-top: 150px;
        margin-bottom: 150px;

        @include tablet{
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .article-content-block{
            margin: 0 -40px;

            @include tablet{
                margin-bottom: 50px;
            }

            &.padded-1{
                @include desktop{
                    padding: 0 150px;
                    .content-area{
                        .inner{
                            padding: 0;
                        }
                    }
                }
            }

            &.image-shadow-1{
                margin-bottom: 40px;
                .shadow-area{
                    &:after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 40px;
                        left: 40px;
                        background-color: #f7f7f7;
                        display: block;
                        z-index: 1;

                        @include tablet{
                            display: none;
                            content: none;
                        }
                    }
                }
            }

            &.image-side-1{
                .content-area{
                    @include desktop{
                        @include order(-1);
                    }
                }

                &.image-shadow-1{
                    .shadow-area{
                        &:after{
                            left: auto;
                            right: 40px;
                        }
                    }
                }
            }

            > *{
                padding: 0 40px;
            }

            .image-area{
                position: relative;

                @include tablet{
                    margin-bottom: 20px;
                }

                &.singular{
                    width: 100%;
                }

                .shadow-area{
                    position: relative;

                    img{
                        width: 100%;
                        position: relative;
                        z-index: 2;
                    }
                }
        
            }

            .content-area{

                &.singular{
                    width: 100%;

                    .inner{
                        padding: 100px;
                        max-width: 960px;
                        margin: 0 auto;
                    }
                }

                .inner{
                    padding: 0 80px;

                    @include tablet{
                        padding: 0 $siteMobilePadding;
                    }

                    h1, h2, h3, h4, h5, h6{
                        max-width: 300px;
                    }

                    h2{
                        font-size: 29px;
                    }
                }
                
            }
        }
    }


    .suggested-stories{
        margin-top: 50px;
        margin-bottom: 50px;


        h2{
            margin-bottom: 50px;
        }

        > .flex-grid{
            .story-item{
                width: 33.33%;

                @include tablet{
                    width: 100%;
                    margin-bottom: 50px;
                }
                
                .bg-area{
                    display: block;
                    padding-bottom: 60%;
                    height: 0;
                    background-size: cover;
                    background-position: center center;
                    margin-bottom: 30px;
                    position: relative;
                }

                h3{
                    a{
                        font-size: 17px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }

}