.template-index {
    h2 {
        font-size: 23px;

        @include mobile {
            font-size: 21px;
        }
    }

    main section:not(.home-header-slider) {
        margin-top: 25px;

        @include mobile {
            margin-top:50px;
        }
    }
}

.product-grid[data-slider]:not(.slick-initialized){
    opacity: 0;
    visibility: hidden;
}
