.landing-page{

  .landing-page-block{
    position: relative;

    .scroll-down{
      @include transform(rotate(90deg));
      display: block;
      position: absolute;
      bottom: 20px;
      right: 5%;
      padding: 20px;
      animation: arrowHover 2.5s ease-in-out infinite;

      @include tablet{
        display: none;
      }

      img{
        width: 20px;
      }
    }
  }
 
}

@keyframes arrowHover {
  0%, 100% {
    @include transform(rotate(90deg) translateX(0));
  }

  50% {
    @include transform(rotate(90deg) translateX(10px));
  }
}