.product-section{

  blockquote{
    @include flexbox;
    @include flex-wrap(wrap);
    margin: auto 0 0 0;
    width: 100%;
    padding-top: 20px;

    @include tablet{
      padding-bottom: 40px;
    }
    // &:before{
    //   position: relative;
    //   content: "";
    //   background-image: url(liquid("{{ 'icon-quote.svg' | asset_url }}"));
    //   background-size: contain;
    //   width: 32px;
    //   background-repeat: no-repeat;
    // }

    svg{
      width: 32px;
      height: 24px;

      use{
        fill: $primaryColor;
      }
    }

    > div{
       width: calc(100% - 32px);
       padding-left: 10px;
       padding-top: 0;
    }

    h3{
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 3px;
      margin-bottom: 20px;
      line-height: 1.4;
    }

    p{
      color: #7b7b7b;
      font-size: 11px;
      font-weight: 400;
    }
  }

  .product-top-bar{
    position: absolute;
    top: 700px;
    left: 0;
    width: 100%;
    padding: 10px $sitePadding;
    z-index: 6;
    @include transform(translateY(-100%));
    opacity: 0;
    visibility: hidden;
    @include transition(transform 0.35s ease, opacity 0.15s ease, visibility 0.15s ease);
    background: $primaryColor;

    @include tablet{
      display: none !important;
    }

    &.is-stuck{
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0));
    }

    p, .size, .money{
      color: #fff;
    }

    p{
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.3px;
      font-family: 'GT Walsheim', Helvetica, sans-serif;
    }

    .money{
      font-weight: 400;
      font-size: 16px;
    }

    form{
      margin-left: 80px;

      button{
        padding: 13px 50px;
        background: #fff;

        &:hover{
          color: $secondaryColor;
        }
      }
    }

  }

  .top-product-area{
    margin-bottom: 60px;

    @include desktop{
      padding: 0 50px;
    }

    @include tablet{
      max-width: 500px;
      margin: 0 auto;
    }

    > .left-area{
      width: 45%;

      @include tablet{
        width: 100%;
      }

      .top-row{
        width: 100%;

        .product-photo-area{
          width: 100%;
          background: #fff;
          position: relative;
          @include justify-content(center);
          max-height: calc(100vh - #{$headerMobileHeight} - 100px);

          @include tablet{
            width: 100%;
            background: #fff !important;
          }

          .symbols{
            position: absolute;
            top: 20px;
            left: 40px;
            padding: 0;
            z-index: 1;
            padding: 20px;
            pointer-events: none;

            @include tablet{
              top: 0;
              left: 30px;
              padding: 10px;
            }

            img{
              max-width: 60px;
              display: block;
              margin-bottom: 5px;

              &:last-child{
                margin-bottom: 0;
              }
            }
          }

          .sliders-wrapper{
            padding: 20px 40px;
            position: relative;

            @include tablet{
              padding: 0;
            }

            .main-slider, .thumb-slider{
              @include transition(all 0.35s ease);

              &:not(.slick-initialized){
                opacity: 0;
                visibility: hidden;
              }

              .bg-area{
                height: 0;
                padding-bottom: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                overflow: hidden;
              }
            }

            .main-slider{
              overflow: hidden;

              @include tablet{
                padding: 0 30px;
                margin-bottom: 20px;
              }

              // .slick-list{
              //   position: relative;
              //   left: -1px;
              // }

              .slick-arrow{
                padding: 20px 5px;
                @include desktop{
                  opacity: 0;
                  visibility: hidden;
                }
                @include transition(all 0.35s ease);
              }

              .bg-area{
                display: block !important;
                margin: 0 auto;
              }

              .slick-slide{
                > div{
                  @include desktop{
                    max-width: 600px;
                    margin: 0 auto;
                  }
                }
              }
            }
            .mobile-video-button{
              text-align: center;
              margin-bottom:10px;
              .mobile-video-button__inner{
                border:1px solid #ddd;
                padding:10px 20px;
                display:inline-block;
                svg{
                  margin-right:10px;
                }
                > * {
                  vertical-align: middle;
                }
              }
            }

            .thumb-slider{
              @include transition(all 0.35s ease);
              padding: 0 75px;
              margin-top: -50px;

              .slick-arrow{
                background-size: 7px 10px;
                padding: 20px 0;
                width: 55px;

                &.slick-prev{
                  background-position: right 10px center;
                }

                &.slick-next{
                  background-position: left 10px center;
                }
              }

              &.slick-middle{
                .slick-track{
                  margin: 0 auto;
                  @include transform(none !important);
                }
              }

              .slick-track{

                .slick-slide{
                  cursor: pointer;
                  padding: 0 5px;

                  .bg-area-outer{
                    background: #fff;

                    .bg-area{
                      svg{
                        width:50px;
                        height:50px;
                        top:0;
                        bottom:0;
                        left:0;
                        right:0;
                        margin:auto;
                        position: absolute;
                        opacity:.7;
                      }
                    }
                  }

                  &.slick-current{
                    .bg-area-outer{
                      border-color: $secondaryColor;
                    }
                  }
                }
              }


            }

          }


        }

      }
    }

    > .right-area{
      width: 55%;
      padding: 50px 80px 0 40px;

      @include tablet{
        width: 100%;
        padding: 0 30px;
      }

      > .inner{
        width: 100%;

        header{
          margin-bottom: 20px;

          @include tablet{
            margin-bottom: 5px;
          }

          h1{
            font-size: 25px;
            margin-bottom: 10px;
            line-height: 1.4;

            @include tablet{
              font-size: 20px;
            }
          }

          p{
            color: #8c8c8c;
            line-height: 1;

            &.intro{
              font-size: 16px;
              color: $secondaryColor;
              margin-bottom: 10px;
              line-height: 1.5;
              font-weight: 400;

              @include tablet{
                font-size: 15px;
              }
            }
          }
        }

        .yotpo{
          .write-review-btn-hidden{
            display: none !important;
          }
        }

        .price-klarna-flex{
          margin-bottom: 40px;

          @include tablet{
            margin-bottom: 30px;
          }

          .product-prices{
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 0;

            @include tablet{
              font-size: 20px;
            }

            span{
              display: inline-block;

              @include desktop{
                &::first-letter{
                  font-size: 16px;
                }
              }

            }
          }
        }

        klarna-placement{
          @include tablet{
            margin: 10px auto 0 auto;
          }
        }

        form{
          @include flexbox;
          @include flex-direction(column);

          .quantity-outer, .variant-outer{
            position: relative;
            border: 1px solid $borderGrey;
            letter-spacing: 0;

            label{
              padding-left: 20px;
              z-index: 1;
              font-weight: 400;
              font-size: 13px;
              cursor: pointer;
              @include align-self(center);
            }

            &:before{
              content: attr(data-text);
              position: absolute;
              left: 15px;
              font-size: 13px;
              top: 50%;
              @include transform(translateY(-50%));
              pointer-events: none;
              z-index: 1;
              font-weight: 700;
            }

            .choices, select{
              margin: 0;
              padding: 15px 40px 15px 5px;
              @include flexbox;
              @include align-items(center);
              font-weight: 400;

              &:after{
                right: 25px;
              }

              .choices__inner{
                background: #fff;

                .choices__list--single{
                  line-height: 1;

                  .choices__item{
                    padding-left: 0;
                    font-weight: 400;
                    font-size: 14px;
                  }
                }
              }

              .choices__list--dropdown{
                width: 100%;
                left: 0;
                background: #fff;
                padding-left: 15px;
                border: 1px solid $borderGrey;

                .choices__item{
                  font-weight: 400;
                  text-decoration: none;
                  font-size: 14px;
                }
              }
            }
          }

          .variant-selectors{
            margin-bottom: 20px;

            .variant-outer{
              margin-bottom: 10px;

              &:last-child{
                margin-bottom: 0;
              }
            }
          }
          .add-to-cart-flex{

            @include tablet{
              position: fixed;
              bottom: 0;
              left: 0;
              width: 100%;
              z-index: 3;
            }

            .quantity-outer{
              margin-right: 30px;
              @include tablet{
                display: none;
              }
            }

            .btn{
              width: 100%;
              max-width: 210px;

              @include tablet{
                max-width: none;
                padding: 20px;
                margin: 0;

                &:before{
                  content: none;
                  display: none;
                }
              }

              // @include tablet{
              //   margin: 0;
              //   max-width: none;

              //   &:before{
              //     content: none;
              //     display: none;
              //   }
              // }
            }

            .wishlist-icon{
              @include align-self(center);
              padding: 15px;

              @include tablet{
                display: none;
              }
            }
          }

          .promo-items{
            margin: 15px 0 0 0;

            @include tablet{
              margin-top: 0;
              margin-bottom: 10px;
              @include order(-1);
            }

            li{
              font-weight: 300;
              position: relative;
              width: 100%;

              &:not(:last-child) {
                margin-bottom: 5px;
              }
            }
          }

        }

        .product-tabs{
          margin-top: 40px;

          @include tablet{
            margin-top: 10px;
            @include order(10);
          }

          .tabs-nav{
            overflow-x: auto;
            position: relative;
            @include noscrollbar;

            @include tablet{
              margin-right: -30px;
            }

            &:after{
              content: "";
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $borderGrey;
              display: block;
              @include transition(all 0.35s ease);
              position: absolute;
            }

            li{
              padding: 10px;
              @include transition(all 0.35s ease);
              position: relative;

              &:after{
                content: "";
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $primaryColor;
                display: block;
                opacity: 0;
                visibility: hidden;
                @include transition(all 0.35s ease);
                position: absolute;
                z-index: 1;
              }

              &:first-child{
                padding-left: 0;
              }

              &.active{
                &:after{
                  opacity: 1;
                  visibility: visible;
                }
              }

              a{
                @include headingFont;
                font-size: 16px;
                white-space: nowrap;
                margin-right: 20px;
              }
            }
          }

          .tabs-content{
            .tabs-item{
              padding: 15px 0;

              // @include tablet{
              //   padding: 0;
              //   margin-bottom: 10px;
              // }

              &:not(.active) {
                display: none;
              }

              .rte{
                font-weight: 400;
              }

              .accordion-header{
                border-bottom: 2px solid $primaryColor;
                padding: 5px 0;
                @include headingFont;
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: 700;

                &:after{
                  content: "+";
                }
              }

              .accordion-content{
                @include desktop{
                  height: auto !important;
                }

                @include tablet{
                  height: 0;
                  @include transition(all 0.35s ease);
                  overflow: hidden;
                }
              }

              &.open{
                .accordion-header{
                  &:after{
                    content: "-";
                  }
                }

                .accordion-content{

                }
              }
            }
          }
        }

        .product-ingredients-slide-block, .product-recycle-slide-block{
          margin-top: 10px;
          @include order(11);

          > a{
            display: inline-block;
            margin-bottom: 10px;

            &:before{
              content: "+";
              display: inline-block;
              margin-right: 5px;
            }

            &.open{
              &:before{
                content: "-";
              }
            }
          }

          .product-ingredients-content, .product-recycle-content{
            max-height: 0;
            overflow: hidden;
            @include transition(all 0.35s ease);
            font-weight: 400;
          }
        }

        .product-features{
          margin-top: 40px;

          @include tablet{
            margin-top: 20px;
          }

          li{
            width: auto;

            margin-bottom: 20px;
            @include flexbox;
            @include flex-direction(column);

            @include tablet{
              max-width: none;
              width: 50%;
              @include flex-direction(row);
              @include align-items(center);
            }

            img{
              height: 50px;
              display: block;
              margin: 0 auto 10px auto;

              @include tablet{
                height: 35px;
                margin:0;
              }
            }

            span{
              max-width: 110px;
              display: block;
              font-weight: 400;
              text-transform: uppercase;
              text-align: center;

              @include tablet{
                padding: 0 10px;
                margin-top: 0;
                text-align: left;
                font-size: 12px;
              }
            }
          }
        }

        .product-description{
          margin-top: 0;
          margin-bottom: 0;
          @include transition(all 0.5s ease);

          &:not(.read-more-init) {
            opacity: 0;
            visibility: hidden;
          }

          > h2{
            margin-bottom: 30px;
            font-size: 17px;
          }

          .rte{
            overflow: hidden;
            @include transition(max-height 0.35s ease);
            max-height: 92px;
            margin-bottom: 5px;

            span{
              font-weight: inherit !important;
            }
          }

          // > a{
          //   @include tablet{
          //     display: none;
          //   }
          // }
        }

      }
    }
  }

  .bio-actives{
    padding: 0;
    margin-top: 60px;
    margin-bottom: 60px;

    @include tablet{
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px 0;
    }

    .inner{
      padding-bottom: 50px;

      @include tablet{
        padding: 0 5px;
      }

      > h2{
        margin-bottom: 0;
      }

      > .flex{

        @include tablet{
          padding: 0 10px;
        }

        .bio-active-item{
          width: calc(100% / 3);
          text-align: center;
          padding-top: 50px;
          @include flexbox;
          padding-bottom: 50px;

          @include tablet{
            width: 100%;
            @include flexbox;
            padding: 20px 20px 50px 20px;
          }

          .inner{
            background-color: #f7f7f7;
            @include flexbox;
            @include flex-direction(column);
            width: 100%;

            .image-area{
              margin: 0 -20px -50px -20px;
              @include transform(translateY(-50px));
              position: relative;

              .bg-area{
                @include bg-cover;
                background-size: contain;
                padding-bottom: 100%;
                height: 0;
              }

              img{
                width: 100%;
              }
            }

            .content-area{
              line-height: 1.7;
              background: #fff;
              margin: 0 20px -50px 20px;
              position: relative;
              z-index: 1;
              padding: 30px 20px 0 20px;
              text-align: left;
              @include flex-grow(1);

              b{
                margin-bottom: 10px;
                display: block;
                font-size: 16px;
                line-height: 1.2;

                @include tablet{
                  font-size: 14px;
                }
              }
            }
          }

        }
      }
    }
  }


  .product-results{
    margin-top: 40px;
    margin-bottom: 40px;

    @include desktop{
      padding: 20px 120px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    @include tablet{
      padding-top: 20px;
    }

    .content-area{
      width: 40%;

      @include tablet{
        width: 100%;
      }

      .rte{
        margin-top: 20px;
        font-weight: 400;

        @include tablet{
          margin-top: 10px;
        }
      }

      ul{
        margin-top: 15px;
        font-weight: 400;

        li{
          &:not(:last-child) {
            margin-bottom: 10px;
          }

          span{
             margin-left: 10px;
          }
        }
      }
    }

    .image-area{
      width: 60%;

      @include tablet{
        width: 100%;
        margin-bottom: 20px;
        @include order(-1);
      }

      .bg-area{
        @include bg-cover;
        position: relative;
      }

      .product-video .video-wrapper{
        height: 0;
        padding-bottom: 56.25%;
        width: 100%;
        position: relative;
        line-height: 0;
        margin: 0;
        @include mobile{
            padding: 0;
            height: auto;
        }
        iframe, video{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include mobile{
              position: relative;
              height: auto;
          }
        }
      }

      .lifestyle-slider-container{
        position: relative;

        .bg-area{
          background-size: cover;
          height: 0;
          padding-bottom: 40%;
          background-position: center center;
          position: absolute;
          top: 50%;
          left: 0;
          @include transform(translateY(-50%));
          width: 100%;
          z-index: 1;

          @include tablet{
            opacity: 0.5;
            display: none;
          }
        }

        .lifestyle-slider{
          line-height: 0;
          position: relative;
          z-index: 2;
          width: calc(100% - 140px);
          margin: 0 auto;
          padding: 0 0 0 20px;

          @include transition(all 0.35s ease);

          &:not(.slick-initialized){
            opacity: 0;
            visibility: hidden;
          }

          &:after{
              content: "";
              display: block;
              position: absolute;
              left: 0;
              top: -20px;
              border: 1px solid #000;
              width: calc(100% - 20px);
              height: 100%;
              @include transition(all 0.35s ease);
              pointer-events: none;

              @include tablet{
                height: calc(100% - 10px);
              }
          }

          @include tablet{
            border: 0 none;
            padding-bottom: 50px;
            width: 100%;
          }

          .slick-list{
            background: #fff;
          }

          .slick-arrow{
            background-size: 7px 15px;

            @include tablet{
              display: none;
            }
          }

          .slick-prev{
            right: 100%;
            left: auto;
          }

          .slick-next{
            left: 100%;
            right: auto;
          }

          .slick-dots{
            bottom: 0;
            left: 0;
            @include flexbox;
            @include justify-content(center);
            li{
              margin: 0;
              @include flex-basis(0);
              @include flex-grow(1);
              max-width: 100px;
              button{
                width: 100%;
                &:before{
                  height: 5px;
                   @include transition(all 0.35s ease);
                }
              }

              &:not(.slick-active){
                button{
                  &:before{
                    background: #fafafa;
                  }
                }
              }
            }
          }
        }
      }

      img{
        width: 100%;
      }
    }
  }

  .nosto_element{
    margin-top: 60px;
    margin-bottom: 60px;

    @include tablet{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .nosto-block{
      margin: 0;
    }
  }

  .product-video{
    .video-wrapper{
      height: 0;
      padding-bottom: 56.25%;
      width: 100%;
      position: relative;
      line-height: 0;
      margin-bottom: 50px;

      @include tablet{
        margin-bottom: 30px;
      }

      iframe, video{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
      }
    }
  }

  .reviews-area{
    margin-top: 60px;
    margin-bottom: 60px;

    @include tablet{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    header{
      margin-bottom: 50px;

      h2{
        font-size: 23px;
        margin-bottom: 5px;
      }

      span{
        font-size: 15px;
        font-weight: 700;
        color: #8c8c8c;
      }
    }

    .write-review{
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      &:after{
        content: "";
        position: absolute;
        bottom: -3px;
        display: block;
        left: 0;
        width: 100%;
        height: 1px;
        background: $secondaryColor;
      }
    }
  }


  .may-also-like{
    background: #f7f7f7;
    padding: 70px 0;

    .wrapper{
      @include tablet{
        padding: 0;
      }
    }

    h2{
      margin-bottom: 70px;

      @include tablet{
        font-size: 22px;
      }
    }

    .product-grid-item{
      width: 25%;

      @include tablet{
        padding: 0 10px;
      }

      .image-area, .bottom-area .product-info{
        background: #fff;
      }

      .sliding-area{
        background-color: #f7f7f7;
      }
    }

    .slick-slider{

      padding-bottom: 30px;

      .slick-list{
        margin-left: -105px;

        .slick-track{
          @include flexbox;

          .slick-slide{
            @include flexbox;
            height: auto;
          }
        }
      }

      .slick-dots{
        bottom: 0;
        @include flexbox;
        @include justify-content(center);
        padding: 0 25px;

        li{
          margin: 0;
          @include flex-basis(0);
          @include flex-grow(1);
          max-width: 100px;
          button{
            width: 100%;
            &:before{
              height: 5px;
               @include transition(all 0.35s ease);
            }
          }

          &:not(.slick-active){
            button{
              &:before{
                background: #fafafa;
              }
            }
          }
        }
      }
    }
  }

}
