.section--collage {
    text-align: center;
    padding: 48px 17px 0;

    @include medium-up {
        padding: 64px 36px;
    }

    @include xlarge-up {
        padding: 120px 80px;
    }

    .collage__sub-heading {
        @include header-font-secondary-bold;
        font-size: 16px;
        margin-bottom: 24px;

        @include xlarge-up {
            margin-bottom: 36px;
            line-height: 18px;
            font-size: 24px;
        }
    }

    .collage__heading {
        @include body-font;
        font-size: 34px;
        margin-bottom: 36px;

        @include xlarge-up {
            margin-bottom: 64px;
            line-height: 78px;
            font-size: 62px;
        }
    }

    .collage__intro {
        margin-bottom: 48px;

        @include xlarge-up {
            margin-bottom: 120px;
        }

        p {
            line-height: 24px;

            @include xlarge-up {
                font-size: 24px;
                line-height: 42px;
            }
        }
    }

    .collage__body {
        position: relative;
    }

    .collage__images {
        padding: 0 20px;
        z-index: 1;;
        
        @include medium-up {
            width: 46%;
            padding: 75px 0 0;
            position: relative;
            z-index: 1;
        }

        @include large-up {
            width: 100%;
            padding: 0;
            z-index: inherit;
        }

        .collage__image--1 {

            @include large-up {
                width: 24%;
                float: left;
                margin-bottom: 196px;
            }
        }

        .collage__image--2 {

            @include large-up {
                width: 27%;
                float: right;
                margin-bottom: 164px;
                margin-right: 28px;
            }
        }

        .collage__image--3 {

            @include large-up {
                width: 44%;
                float: left;
                clear: left;
                margin-left: 80px;
            }
        }

        .collage__image--4 {

            @include large-up {
                width: 44%;
                float: right;
                position: relative;
                z-index: 1;
            }
        }
    }

    .collage__block_text {
        background-color: #353434;
        padding: 48px;
        margin-top: -34px;
        position: relative;

        @include medium-up {
            width: 58%;
            margin-top: 0;
            position: absolute;
            top: 0;
            right: 0;
            padding-bottom: 64px;
        }

        @include large-up {
            @include horizontal-center;
            padding: 80px;
            width: 47%;
            margin-top: 93px;
        }

        p {
            font-size: 30px;
            color: $brand-color-2;
            line-height: 40px;
            margin-bottom: 36px;

            @include medium-up {
                font-size: 34px;
                line-height: 44px;
            }

            @include large-up {
                font-size: 52px;
                line-height: 64px;
                margin-bottom: 0;
            }

            @include xlarge-up {
                font-size: 72px;
                line-height: 84px;
            }
        }

        .collage__image-pagination {

            @include large-up {
                display: none;
            }
        }
    }
}