.section--featured-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 174px 48px 48px;
    text-align: center;
    position: relative;
    min-height: 450px;

    @include medium-up {
        padding-bottom: 64px;
    }

    .featured-page__content {
        position: relative;
        z-index: 1;

        @include large-up {
            @include horizontal-center;
            bottom: 64px;
            width: 60%;
        }

        @include xlarge-up {
            @include horizontal-center;
            bottom: 120px;
        }
    }

    .featured-page__heading {
        @include body-font;
        font-size: 48px;
        margin-bottom: 48px;

        @include medium-up {
            margin-bottom: 64px;
        }

        @include large-up {
            font-size: 62px;
        }

        @include xlarge-up {
            font-size: 92px;
            line-height: 100px;
        }
    }
}