.section--featured-products .section__inner {
    padding: 48px 0;

    @include medium-up {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    @include xlarge-up {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .featured-products__heading {
        @include header-font-secondary-normal;
        font-weight: 700;
        text-align: center;
        margin-bottom: 24px;
        font-size: 16px;

        @include xlarge-up {
            margin-bottom: 36px;
            font-size: 24px;
        }
    }

    .featured-products__products {

        @include medium-up {
            display: flex;
            padding-left: 27px;
            padding-right: 27px;
        }

        @include xlarge-up {
            padding-left: 65px;
            padding-right: 65px;
        }
    }

    .featured-products__product {
        padding: 0 9px;

        @include xlarge-up {
            padding-left: 15px;
            padding-right: 15px;
        }

        .product__image-area {
            position: relative;
            margin-bottom: 12px;

            @include xlarge-up {
                margin-bottom: 18px;
            }

            .product__image-overlay {
                background: $white;
                position: absolute;
                width: 100%;
                top: 0;
                bottom: 0;
                opacity: 0;
                transition: opacity .2s;
            }

            &:hover .product__image-overlay {
                opacity: .5;
            }

            .product__image {
                width: 100%;;
            }
        }

        .product__title {
            @include header-font-secondary-normal;
            font-weight: 700;
            font-size: 14px;

            @include xlarge-up {
                font-size: 22px;
            }
        }
    }
}