.section--featured-products {
    padding: 48px 0;

    @include medium-up {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    @include xlarge-up {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .featured-products__heading {
        @include header-font-secondary-bold;
        text-align: center;
        margin-bottom: 24px;
        font-size: 16px;
        color: $brand-color-3;

        @include xlarge-up {
            margin-bottom: 36px;
            font-size: 24px;
        }
    }

    .featured-products__list {

        @include medium-up {
            display: flex;
            padding-left: 27px;
            padding-right: 27px;
        }
    
        @include xlarge-up {
            padding-left: 65px;
            padding-right: 65px;
        }
    }
}