.shopify-section {
    background-color: $timberwolf;
    background-repeat: no-repeat;
}

.section--blue {
    background-image: url('splash_blue.png');
    
    background-size: 1000px;
    background-position: -670px -460px;

    @include  medium-up {
        background-size: 1100px;
    }

    @include  xlarge-up {
        background-size: 1300px;
    }
}

.section--red {
    background-image: url('splash_red.png');
    background-size: 1000px;
    background-position: right -560px bottom -560px;

    @include  medium-up {
        background-size: 1100px;
    }
}

.section--blue-pink {
    background-image:
        url('splash_blue.png'),
        url('splash_pink.png');
    background-position:
        right -300px bottom -300px,
        -300px -300px;
}