header.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    
    .inner {
        display: flex;
        height: $header-height;
        padding-right: 18px;
        padding-left: 18px;
        background: $brand-color-1;

        @include large-up {
            height: auto;
        }

        .mobile-menu-toggle {
            display: flex;
            align-items: center;
            margin-right: 18px;

            @include large-up {
                display: none;
            }
        }

        .logo-area {
            display: flex;
            align-items: center;

            @include large-up {
                height: $header-height-l;
            }

            .logo {
                width: $logo-width;

                @include large-up {
                    width: $logo-width-l;
                }

                @include xlarge-up {
                    width: $logo-width-xl;
                }
            }
        }

        .desktop-menu-area {
            @include large-up {
                flex-grow: 1;
            }
        }

        .right-area {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: end;

            @include large-up {
                height: $header-height-l;
                flex-grow: 0;
            }

            li {
                margin-left: 18px;

                @include large-up {
                    margin-left: 24x;
                }

                &.account-link,
                &.currency-selector,
                &.wishlist {
                    display: none;

                    @include large-up {
                        display: inline-block;
                    }
                }

                &.search-link {
                    
                    svg {
                        max-width: 15px;
                        height: auto;

                        path {
                            stroke-width: 2;
                        }
                    }
                }

                svg {
                    vertical-align: middle;
                }
            }
        }
    }
}