.section--hero .section__inner {
    height: calc(100vh - #{$header-height});
    position: relative;

    @include large-up {
        height: calc(100vh - #{$header-height-l});
    }

    .hero__bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .hero--mobile__bg {
        
        @include large-up {
            display: none;
        }
    }

    .hero--desktop__bg {
        display: none;

        @include large-up {
            display: block;
        }
    }

    .hero__inner {
        @include vertical-center;
        z-index: 1;
        text-align: center;
        padding: 0 24px;
        width: 100%;
    }

    .hero__sub-heading {
        @include header-font-secondary-bold;
        font-size: 16px;
        margin-bottom: 24px;
        line-height: 1;

        @include medium-up {
            font-size: 18px;
        }

        @include large-up {
            font-size: 24px;
            margin-bottom: 64px;
        }
    }

    .hero__heading {
        @include header-font-secondary-bold;
        font-size: 42px;
        margin-bottom: 36px;
        line-height: 1;

        @include large-up {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        @include xlarge-up {
            font-size: 94px;
            max-width: none;
            margin-bottom: 64px;
        }
    }

    .hero__description {
        margin-bottom: 36px;

        @include large-up {
            margin-left: auto;
            margin-right: auto;
            max-width: 300px;
        }

        @include xlarge-up {
            margin-bottom: 64px;
            max-width: 710px;
        }

        p {
            line-height: 24px;

            @include large-up {
                font-size: 18px;
            }

            @include xlarge-up {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    .hero__cta {
        display: inline-block;
        border: 1px solid transparent;

        &::hover {
            color: $body-text-color;
        }
    }
}