.section--search-overlay-articles {
    background: $brand-color-1;
    padding-top: 48px;

    .search-overlay-articles__heading {
        @include header-font-secondary-bold;
        font-size: 16px;
        padding: 0 24px 36px;
    }

    .articles-list {
        .article {
            border-top: solid $body-text-color 1px;
        }
    }
}