<section class="search-overlay">

  {% section 'search' %}

  {% if search.results_count == 0 or search.performed == false %}

    {% section 'feature-collection' %}
    {% section 'feature-blog' %}

  {% else %}

    {% comment %}
    {% endcomment %}
    {% section 'feature-blog' %}
    {% section 'feature-video' %}

  {% endif %}

</section>
