.button {
    @include button-font;
    border: solid $body-text-color 1px;
    background: $brand-color-1;
    font-size: 12px;
    line-height: 34px;
    display: inline-block;
    padding: 0 20px;
    transition: all .2s;
    white-space: nowrap;

    @include medium-up {
        padding-left: 25px;
        padding-right: 25px;
    }

    @include large-up {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include xlarge-up {
        padding-left: 35px;
        padding-right: 35px;
    }

    @include xxlarge-up {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 16px;
        line-height: 59px;
    }

    &:hover {
        background: $body-text-color;
        color: $white;
    }

    &.button--transparent {
        background: transparent;
    }

    &.button--play {
        border: none;
        width: 45px;
        height: 45px;
        background: $black;
        cursor: pointer;
        padding: 0 9px;
        line-height: 0;
        display: flex;
        align-items: center;

        @include medium-up {
            width: 59px;
            height: 59px;
            padding-left: 12.5px;
            padding-right: 12.5px;
        }

        &::after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $white;
            opacity: 0;
            transition: opacity .2s;
        }

        &:hover {
            &::after {
                opacity: .5;
            }
        }
    }
}