html{
	scroll-behavior: smooth;
}

body{
	background: $bodyBackground;
	color: #0a0a0a;
	letter-spacing: 0.5px;
	font-size: 15px;
	@include bodyFont;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include flexbox;
	@include flex-direction(column);
	min-height: 100vh;
	font-weight: 300;

	@include tablet{
		letter-spacing: 1px;
	}

	.site-footer{
		margin-top: auto;
	}
}


b,
strong {
  font-weight: 700;
}

.main-content{
	overflow: hidden;

	> .inner{
		padding: 50px 0 0 0;

		.template-product &{
			padding-top: 20px;
		}

		.template-collection &,
		.template-full-search &,
		.template-index &,
		.template-full-article-landing-page &,
		.template-full-article-landing-page-2 &,
		.template-full-article &,
		.template-full-page-rewards &,
		.template-full-page-offers &,
		.template-full-page-gift-creator &,
		body[class*='template-full-page-landing-page-v2-'] &{
			padding: 0;
		}

		@include desktop{
			.template-full-page-landing-page-alternate &{
				padding: 0;
			}
		}
	}
}

.lion-loyalty-widget{
	@include tablet{
		display: none !important;
	}
}

svg{
	overflow: hidden;
}

select{
	background-image: url("{{ 'icon-select.svg' | asset_url }}");
	background-repeat: no-repeat;
	background-size: 7px 4px;
	background-position: right center;
	appearance: none;
	font-size: 12px;
	padding-right: 10px;
	-webkit-appearance: none;
	-moz-appearance:none;
	font-weight: 700;
	border: none;
	background-color: transparent;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, blockquote{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	color: $secondaryColor;
	letter-spacing: 1.3px;
	@include headingFont;

	&.green{
		color: $primaryColor;
	}

	span{
		font-size: inherit;
	}

	&.less-margin{
		margin-bottom: 20px;
	}

}

h1, .h1{
	font-size: $h1Size;
}

h2, .h2{
	font-size: $h2Size;

	@include tablet{
		font-size: $h2Size - 5px;
	}
}

h3, .h3{
	font-size: $h3Size;
}

h4, .h4{
	font-size: $h4Size;
}

h5, .h5{
	font-size: $h5Size;
}

h6, .h6{
	font-size: $h6Size;
}

input, textarea, select{
	border-radius: 0;
	@include placeholder{
		color: #8c8c8c;
	}
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0px 1000px $primaryColor inset;
}

*{
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	box-sizing: border-box;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a{
	text-decoration: none;
	color: $secondaryColor;
	text-transform: none;
	letter-spacing: 0px;
	// font-size: 13px;
	font-weight: 700;
	@include transition(all 0.35s ease);
}

button{
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance: none;
	border: none;
	cursor: pointer;
	border-radius: 0;
}

.btn, .shg-btn{
	padding: 7.5px 30px;
	line-height: 1;

	color: #000;
	@include transition(all 0.4s cubic-bezier(0.4, 0, 0.2, 1));
	display: inline-block;
	font-size: 13px;
	position: relative;
	border: 0 none;
	text-transform: uppercase;
	background: #fff;
	text-align: center;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	letter-spacing: 0;
	border-radius: 0;
	font-weight: 500;
	cursor: pointer;
	margin: 8px 0;

	&:before{
		content: "";
		width: calc(100% - 12px);
		height: calc(100% + 8px);
		border: 2px solid $secondaryColor;
		display: block;
		position: absolute;
		left: 4px;
		top: -6px;
		pointer-events: none;
	}

	&.flex{
		@include flexbox;

		> span{
			padding: 0 5px;
		}
	}

	&#BIS_trigger{
		@include inline-flex;
		@include justify-content(center);
		@include align-items(center);

		@include desktop{
			margin-left: 10px;
		}
	}

	&.secondary{
		background: $borderColor;
		color: #fff;
	}

	&:hover{
		background: $borderColor;
		color: #fff;
	}

	&__black {
		border-color:$secondaryColor;
		&:hover {
			border-color:$borderColor
		}
	}
	&__transparent {
		background: transparent;
	}
	&__white {
		border-color:white;
		background:transparent;
		color:white;
		&:hover {
			background:white;
			color:$secondaryColor;
		}
		&.btn__arrow::after {
			background-image:url('icon-arrow-right-white.svg');
		}
		&.btn__arrow:hover::after {
			background-image:url('icon-arrow-right.svg');
		}
	}
	&__arrow {
		padding:10px 21px;
		font-weight: 400;
		@include mobile {
			font-weight: 700
		}
		&::after {
			content:'';
			width:7px;
			height:11px;
			background-image:url('icon-arrow-right.svg');
			background-size:contain;
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
			margin-left:35px;
			position: relative;
			right:0;
			transition: .3s all ease;
		}
		&:hover::after {
			right:-7px;
			background-image:url('icon-arrow-right-white.svg');
		}
	}

	&.simple{
		border: 0 none;
		padding: 0;
		background: transparent;

		&:hover{
			background: transparent;
			color: #000;

			&::after{
				background-image:url('icon-arrow-right.svg');
			}
		}
	}

	&.larger{
		font-size: 15px;
		padding: 15px 30px;
	}

	&[disabled], [disabled="disabled"]{
		opacity: 0.5;
		pointer-events: none;
	}

}

.shg-btn{
	min-width: 0 !important;
	border-radius: 0 !important;
	text-transform: uppercase;
}

.rte{
	font-weight: 300;
	color: $secondaryColor;
	line-height: 1.7;

	img{
		max-width: 100%;

		@include tablet{
			width: 100%;
			float: none;
			margin: 15px 0;
		}
	}

	p{
		padding-bottom: 20px;
	}

	li, p{
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
	}

	h1, h2, h3, h4, h5, h6{
		margin-bottom: 15px !important;
	}

	ol{
		padding-left: 25px;
	}

	> *{
		&:last-child{
			padding-bottom: 0;
		}
	}
}

.line-form{
	input, textarea, select{
		border: 0 none;
		border-bottom: 1px solid $secondaryColor;
		padding: 20px 0;
		margin-bottom: 20px;
	}

	.choices{
		border-bottom: 1px solid $secondaryColor;
		.choices__inner{
			.choices__list--single{
				padding: 20px 16px 20px 0;

				.choices__item{
					color: #8c8c8c;
					font-weight: 400;
					font-size: 13px;
				}
			}
		}
	}
}

.social-icons, .social-sharing{
	margin: 30px -7px;
	@include flex-wrap(wrap);
	li{
		padding: 0 7px;
		a{
			width: 35px;
			height: 35px;
			background: $secondaryColor;
			color: #fff;
			border-radius: 50%;
			display: block;
			text-align: center;
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);

			&:hover{
				color: $secondaryColor;
				background: #fff;
			}

			.fab{
				font-size: 18px;
				line-height: 1;
				font-weight: 400;
			}
		}
	}
}

.social-sharing{
	margin: 0 -7px;

	li{

		&.text{
			color: #8c8c8c;
		}

		a{
			width: 18px;
			height: 18px;

			.fab{
				font-size: 10px;
			}
		}
	}
}


.breadcrumb{
	margin: 30px 0;

	@include tablet{
		display: none;
	}

	.breadcrumb-inner{
		a, span{
			font-size: 11px;
			font-weight: 700;
		}

		span{
			color: #8c8c8c;
		}
	}
}

.burger-icon{
	width: 18px;
	height: 16px;
	display: block;
	position: relative;
	margin: 0;
	@include transform(rotate(0deg));
	@include transition(.5s ease-in-out);
	cursor: pointer;
	color: currentColor;

	span{
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: currentColor;
		@include opacity(1);
		left: 0;
		@include transform(rotate(0deg));
		@include transform-origin(left center);
		@include transition(all 0.4s cubic-bezier(0.4, 0, 0.2, 1));

		&:nth-child(1){
			top: 0px;
		}

		&:nth-child(2){
			top: 7px;
		}

		&:nth-child(3){
			top: 14px;
		}
	}

	&.open{
		span:nth-child(1){
			top: 0px;
			left: 2px;
			@include transform(rotate(45deg));
		}
		span:nth-child(2){
			width: 0;
			@include opacity(0);
		}
		span:nth-child(3){
			top: 13px;
			left: 2px;
			@include transform(rotate(-45deg));
		}
	}

}

.template-login, .template-register, .template-account, .template-addresses, .template-reset_password, .template-activate_account, .template-order{

	h1{
		font-size: 35px;
		font-weight: 500;
		margin-bottom: 20px;
	}

	h2, h4{
		margin-bottom: 15px;
	}

	p{
		margin-bottom: 15px;
	}

	.form-success{
		margin-bottom: 20px;
	}

	#MainContent{
		> .padded{
			text-align: center;

			&.enforce-width{
				max-width: 800px;
			}

			button{
				margin-bottom: 10px;
			}

			a{
				text-transform: none;
			}

			#address_form_new{
				margin-bottom: 50px;
			}

			table, th, td{
				border: 1px solid $borderColor;;
			}

			table{
				margin: 0 auto 40px auto;
				border-collapse: collapse;

				th, td{
					padding: 10px;

					a{
						font-weight: 500;
					}
				}
			}

			> div form, > form{
				text-align: center;

				.flex-grid{
					margin-bottom: 10px;
				}

				input:not([type="checkbox"]){
					border: 1px solid #000;
					padding: 15px 10px;

					@include placeholder{
						font-size: 14px;
						letter-spacing: 2px;
					}
				}

				input:not([type="checkbox"]), button, select{
					max-width: 250px;
					width: 100%;
					display: block;
					margin: 0 auto 10px auto;
					border: 1px solid #000;
					padding: 15px 10px;
				}


				a{
					display: block;
					margin-bottom: 10px;
					text-transform: none;
				}
			}
			> div{
				text-align: center;

				h2{
					margin-bottom: 15px;
				}

				p{
					margin-bottom: 15px;
				}


			}
		}
	}


}

#esc-oos-form{

	#esc-out-of-stock-inputs{
		border-color: #000;
		max-width: 400px;
	}

	.esc-out-of-stock-title{
		font-weight: 500;
	}

	.esc-out-of-stock-title, .esc-out-of-stock-subtitle{
		color: #000;
	}

	input{
		background: #fff;
	    border: 1px solid #000;
	    padding: 10px;
	}


	button{
		padding: 10px;

		&:hover{
			color: #fff;
		}

		&:before{
			display: none;
		}

		&:after{
			background: #fff;
		}
	}
}

.yotpo{

	a, a:hover{
		color: $secondaryColor !important;
	}

	*{
		@include bodyFontImportant;
	}

	.yotpo-icon-star, .yotpo-icon-half-star, .yotpo-icon-empty-star{
		color: $secondaryColor !important;
	}

	.avg-score{
		font-weight: 300 !important;
		color: $secondaryColor !important;
	}

	.yotpo-bottomline{
		@include flexbox;
		@include align-items(center);
		.yotpo-stars{

			.yotpo-icon{
				color: $secondaryColor !important;
				margin-right: 3px;
				font-size: 18px !important;

				@include tablet{
					margin-right: 1px;
					font-size: 16px !important;
				}
			}
		}

		.text-m{
			margin-left: 10px;
			color: $secondaryColor !important;
			font-weight: 300;
			letter-spacing: 0 !important;

			@include tablet{
				margin-left: 5px;
			}
		}
	}

	.yotpo-label-container{
		text-align: left !important;
    border-top: 0 none !important;
    border-bottom: 1px solid $secondaryColor !important;
    padding-bottom: 10px !important;
    padding-top: 0 !important;
	}

	.yotpo-default-button{
		// background: $secondaryColor !important;
		border-radius: 0 !important;

		*{
			font-weight: 400 !important;
			text-transform: uppercase !important;
		}

		// *{
		// 	color: #fff !important;
		// 	font-weight: 400 !important;
		// 	text-transform: uppercase !important;
		// }
	}

	.yotpo-first-review{
		.yotpo-first-review-stars{
			.yotpo-icon-star{
				color: $secondaryColor !important;
			}
		}
	}

	.yotpo-label.yotpo-small-box{
		border: 0 none !important;
	}

	.yotpo-regular-box{
		@include justify-content(center);
		padding-top: 40px;
	}

	.yotpo-regular-box, .new-yotpo-small-box{
		border-color: $secondaryColor !important;
	}

	.yotpo-nav{
		ul{
			.yotpo-nav-tab{
				.yotpo-nav-wrapper{
					border-color: $secondaryColor !important;

					span{
						color: $secondaryColor !important;
					}
				}
			}
		}
	}

	.write-review-wrapper{
		.write-review{
			border-color: $secondaryColor !important;
			label{
				color: $secondaryColor !important;
			}

			.y-input, textarea{
				border: 0 none !important;
				border-bottom: 1px solid $secondaryColor !important;
				padding: 0 0 10px 0 !important;
				margin-bottom: 20px !important;
			}

			.yotpo-default-button{
				width: 100% !important;
			}
		}
	}

}


/* Footer Country Flag  */
.country-flag-selection a {
    display: inline-block;
    margin-right: 15px;
}
@media (max-width: 991px) {
  .country-flag-selection a {
      display: inline-block;
      margin-right: 10px;
  }
}

@media (max-width: 767px) {
/*   .site-header .promo-bar .slick-slider .slick-slide:first-of-type div li {
      margin: 10px auto;
  } */
  #wisepop-main-container {
    position: relative;
    z-index: 999;
  }
  .main-content {
    position: relative;
    z-index: 99;
  }
  .country-flag-selection a {
      display: inline-block;
      margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .country-flag-selection {
    text-align: center;
    a {
    	margin-bottom: 5px;
    }
  }
  .copyright-area .wrapper.vertical-center > p {
    font-size: 10px;
    width: 105px;
  }
}


.yotpo-shoppers-say{
	.full-review-background{
		background: #fff !important;
	}

	.shoppers-say-title, .sentence, .review-title{
		@include headingFontImportant;
    color: #000 !important;
    font-size: 23px !important;
    font-weight: 700 !important;
    letter-spacing: 3px !important;
    margin-bottom: 20px !important;
    line-height: 1.4 !important;
    font-style:normal !important;
	}

	.full-review, .more-reviews{
		color: #000 !important;
	}

	.display-name{
		color: #7b7b7b !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    letter-spacing: 1.3px !important;
	}
}
