/*================ Globals ================*/
/*==============================================*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
div, section, article, header, footer, form, input, button {
  box-sizing: border-box;
}
body {
  font-family: "Louize Display Regular";
  // color: #000000;
  // font-size: 24px;
  // line-height: 42px;
}

hr {
  border: none;
  border-bottom: solid 1px #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GT America Expanded';
}
.section-title {
  color: #000000;
  font-family: "GT America Condensed";
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.bx-wrapper {
  border: none;
  background: transparent;
}
.bx-viewport {
  overflow: visible;
}
.divider {
  margin-bottom: 80px;
}
/*================ Media Queries for Desktop ================*/
@media only screen and (max-width: 740px) {
  .desktop {
    display: none!important;
  }
}
/*================ Media Queries for Mobile ================*/
@media only screen and (min-width: 741px) {
  .mobile {
    display: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}
// .icon__fallback-text {
//   display: none;
// }
