$GTACondensed: "GT America Condensed";
$LouizeReg: "Louize Display Regular";
$LouizeItalic: "Louize Display Italic";
$HeadingColor: #000;

titleFont {
  font-family: $GTACondensed;
  text-transform: uppercase;
}
regFont {
  font-family: $LouizeReg;
}

.section__title {
  @include sectionTitle(
    24px,  // font-size
    30px,  // line-height
    700,   // font-weight
    auto   // letter-spacing
  );
}
