$small: 480px;
$medium: 768px;
$large: 769px;
$smallDesktop: 1024px;
$mediumDesktop: 1200px;
$smallDesktop2: $smallDesktop + 1px;
$laptop: 1368px;

$bodyBackground: #fff;
$primaryColor: liquid("{{ settings.primary_color }}");
$secondaryColor: #0a0a0a;
$borderColor: $primaryColor;
$white: #fff;
$grey: #8c8c8c;
$borderGrey: #e7e7e7;
$borderGrey2: #d8d8d8;
$bgGrey: #f7f7f7;

$h1Size: 60px;
$h2Size: 25px;
$h3Size: 24px;
$h4Size: 18px;
$h5Size: 13px;
$h6Size: 12px;
$linkSize: 13px;
$btnLinkSize: 10px;
$navSize: 13px;
$standardCNavSize: 11px;
$standardCHeaderSize: 50px;
$standardTHeaderSize: 20px;
$standardHashTagSize: 16px;

$sitePadding: 40px;
$siteMobilePadding: 25px;

$headerHeight: 136px;
$mainHeaderHeight: 90px;
$headerShrunkHeight: 64px;
$headerMobileHeight: 92px;
$mainHeaderMobileHeight: 67px;

$headerZIndex: 9999;

$siteWidth: 1200px;
$siteWithHalf: calc(100vw - (100vw - (#{$siteWidth} - 15px)) / 2)
