/*================ VARIABLES ================*/
/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
==============================================================================*/
$small: 480px;
$medium: 768px;
$large: 769px;
$smallDesktop: 1024px;
$mediumDesktop: 1200px;
$smallDesktop2: $smallDesktop + 1px;
$laptop: 1368px;

// typography

body {
  color: #000;
}

// Paddings and Margins
$sectionPadding: 120px;
