@font-face {
    font-family: 'GT America Expanded';
    src: url('GT-America-Expanded-Bold.woff2') format('woff2'),
        url('GT-America-Expanded-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Condensed';
    src: url('GT-America-Condensed-Regular.woff2') format('woff2'),
        url('GT-America-Condensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Condensed Bold';
    src: url('GT-America-Condensed-Bold.woff2') format('woff2'),
        url('GT-America-Condensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Louize Display Regular';
    src: url('Louize-Display-Regular-205TF.woff2') format('woff2'),
        url('Louize-Display-Regular-205TF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Louize Display Italic';
    src: url('Louize-Display-Italic-205TF.woff2') format('woff2'),
        url('Louize-Display-Italic-205TF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
