* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $body-font-family;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GT America Expanded';
}

a,
a:hover,
a:active,
a:focus {
    color: $body-text-color;
    text-decoration: none;
    transition: all .2s;
}

img {
    max-width: 100%;
    display: block;
}

div, section, article, header, footer, form, input, button {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
  }