* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $body-font-family;
    font-size: $body-text-size;
    position: relative;
    padding-top: $header-height;

    @include large-up {
        padding-top: $header-height-l;
    }

    &.scrolling-off {
        width: 100%;
    }

    // These are for the javascript breakpoints module
    &:before {
        content: "small";
        display: none;

        @include medium-up  { content: "medium"; }
        @include large-up   { content: "large"; }
        @include xlarge-up  { content: "xlarge"; }
        @include xxlarge-up { content: "xxlarge";}
    }

    &:after {
        content: "0";
        display: none;

        @include medium-up  { content: "#{map-get($breakpoints, "medium")}"; }
        @include large-up   { content: "#{map-get($breakpoints, "large")}"; }
        @include xlarge-up  { content: "#{map-get($breakpoints, "xlarge")}"; }
        @include xxlarge-up { content: "#{map-get($breakpoints, "xxlarge")}";}
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GT America Expanded';
}

a,
a:hover,
a:active,
a:focus {
    color: $body-text-color;
    text-decoration: none;
    transition: all .2s;
}

img {
    max-width: 100%;
    display: block;
}

div, section, article, header, footer, form, input, button {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container {
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
}