* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $body-font-family;
    font-size: $body-text-size;
    position: relative;
    padding-top: $header-height;

    @include large-up {
        padding-top: $header-height-l;
    }

    &.scrolling-off {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GT America Expanded';
}

a,
a:hover,
a:active,
a:focus {
    color: $body-text-color;
    text-decoration: none;
    transition: all .2s;
}

img {
    max-width: 100%;
    display: block;
}

div, section, article, header, footer, form, input, button {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container {
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
}