$small: 480px;
$breakpoints: (
  small: 0,
  medium: 768px,
  large: 1025px,
  xlarge: 1200px,
  xxlarge: 1600px,
);

$black: #000000;
$white: #ffffff;
$yellow: #eef315;
$timberwolf: #e4d9d5;
$blue: #93a0ee;

$brand-color-1: $yellow;
$brand-color-2: $timberwolf;

$body-text-size: 16px;
$body-text-color: $black;
$body-font-family: "Louize Display Regular", serif;

$button-font-family: "GT America Expanded", sans-serif;

$header-height: 42px;
$header-height-l: 90px;

$logo-width: 100px;
$logo-width-l: 175px;
$logo-width-xl: 246px;