$small: 480px;
$breakpoints: (
  small: 0,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1600px,
);

$black: #000000;
$white: #ffffff;
$yellow: #eef315;
$timberwolf: #e4d9d5;

$brand-color-1: $yellow;
$brand-color-2: $timberwolf;

$body-text-color: $black;
$body-font-family: "Louize Display Regular", serif;

$button-font-family: "GT America Expanded", sans-serif;

$header-height: 42px;