.product {
    padding: 0 9px;

    @include medium-up {
        @include flex-items(3, 18px);
        padding: 0;
    }

    .product__image-area {
        position: relative;
        margin-bottom: 12px;
        border: solid $black 1px;

        @include xlarge-up {
            margin-bottom: 18px;
        }

        &::before {
            content: " ";
            display: block;
            background: $white;
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity .2s;
        }

        &:hover::before {
            opacity: .5;
        }

        .product__image {
            width: 100%;
        }
    }

    .product__info-area {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .product__title {
            @include header-font-secondary-bold;
            font-size: 14px;
    
            @include xlarge-up {
                font-size: 22px;
            }
        }
    
        .product__price {
            white-space: nowrap;
            @include header-font-secondary-bold;
            background: $brand-color-1;
            line-height: 30px;
            padding: 0 10px;
        }
    }
}