<div class="container">

    {% if section.settings.heading != blank %}
    <h2 class="featured-products__heading">
        {{ section.settings.heading }}
    </h2>
    {% endif %}

    <div class="featured-products__list esc-carousel" data-carousel='{
            "centerMode": true,
            "centerPadding": "24px",
            "arrows": false,
            "infinite": false,
            "mobileFirst": true,
            "destroyAt": 768
        }'>
        {% for block in section.blocks %}

            {% render 'block--product',
                product             : all_products[block.settings.product],
                block_attributes    : block.shopify_attributes,
                hide_price          : true
            %}

        {% endfor %}
    </div>

</div>

{% schema %}
  {
    "name": "Featured Products",
    "class": "section--featured-products section--blue",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "products",
        "name": "Products",
        "limit": 3,
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Boho Sections"
      }
    ]
  }
{% endschema %}