<div class="inner">
    
    <a href="#" class="mobile-menu-toggle">
        <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>

    <div class="logo-area">
        <a href="/">
            {% if settings.logo != nil %}
                <img class="logo" src="{{ settings.logo | img_url: 'master' }}" alt="Boho Locs Logo" />
            {% else %}
                Home
            {% endif %}
        </a>
    </div>

    {% render 'desktop_menu' %}

    <ul class="right-area">

        <li class="currency-selector">
            {% render 'currency_selector' %}
        </li>

        <li class="search-link">
            <a href="/search" class="search-overlay-toggle">
                {% render 'icon_search' %}
            </a>
        </li>

        <li class="account-link">
            <a href="/account">
                {% render 'icon_profile' %}
            </a>
        </li>

        <li class="wishlist">
            <a href="/wishlist">
                {% render 'icon_heart' %}
            </a>
        </li>

        <li class="cart-link">
            <a href="/cart">
                {% render 'icon_shopping_bag' %}
            </a>
        </li>

    </ul>

</div>

{% render 'mobile_menu' %}

{% schema %}
    {
        "name": "Header",
        "class": "site-header",
        "tag": "header",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo image"
            },
            {
                "type": "image_picker",
                "id": "shop_menu_image",
                "label": "Shop Menu Image"
            },
            {
                "type": "url",
                "id": "shop_menu_image_link",
                "default": "/",
                "label": "Shop Menu Image lLnk"
            },
            {
                "type": "image_picker",
                "id": "boho_101_menu_image_1",
                "label": "Boho 101 Menu Image 1"
            },
            {
                "type": "url",
                "id": "boho_101_menu_image_1_link",
                "default": "/",
                "label": "Boho 101 Menu Image 1 lLnk"
            },
            {
                "type": "image_picker",
                "id": "boho_101_menu_image_2",
                "label": "Boho 101 Menu Image 2"
            },
            {
                "type": "url",
                "id": "boho_101_menu_image_2_link",
                "default": "/",
                "label": "Boho 101 Menu Image 2 lLnk"
            }
        ]
    }
{% endschema %}