<div class="section__inner">
    <p>
        LEARN MORE → LEARN MORE → LEARN MORE →
    </p>
</div>

{% schema %}
  {
    "name": "Marquee",
    "class": "section section--marquee",
    "tag": "section",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "products",
        "name": "Products",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Marquee",
        "category": "Boho Sections"
      }
    ]
  }
{% endschema %}