<div class="marquee__inner esc-marquee" style="background: {{ section.settings.bg_color }};">
    <p class="marquee__content" style="color: {{ section.settings.text_color }};">
        <span class="marquee__list-item">
            <a href="{{ section.settings.url }}">
                {{ section.settings.text }}
            </a>
        </span>
    </p>
</div>

{% schema %}
  {
    "name": "Marquee",
    "class": "section--marquee",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "url",
            "label": "Url"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#000"
        }
    ],
    "presets": [
      {
        "name": "Marquee",
        "category": "Boho Sections"
      }
    ]
  }
{% endschema %}