.search__section {
  padding-top: $sectionPadding * 2;
  padding-bottom: $sectionPadding;

  @include pageWidth(5%);

  form {
    margin-bottom: 240px;
    align-self: center;

    input {
      @include input;
      @extend searchInput;

      @media (max-width: $small) {
        font-size: 45px!important;
        line-height: normal!important;
      }
    }
  }

  .section__title {
    padding-top: 80px;
    padding-bottom: 48px;
    @include sectionTitle(
      42px,  // font-size
      auto,  // line-height
      700,   // font-weight
      auto   // letter-spacing
    );
  }

  .search-results {
    justify-content: space-between;

    &::after {
      content: "";
      width: 49.3%;
    }

    figure {
      max-width: 336px;
    }
  }

}
