{%- for banner_caption in (1..19) -%}

  {% if block.settings.banner_caption == 19 %}

    {% break %}

  {% else %}

    <span
    class="banner-text-only"
    style="color: {{ section.settings.font_color }};">

      {{ block.settings.banner_caption }}
      
    </span>

  {% endif %}

{%- endfor -%}
