<div class="footer-close flex--row">
  <div class="social">

    <h4 class="h3">

      {{ section.settings.footer_subtitle }}

    </h4>

    {%- if section.settings.show_social_icons != blank -%}

      <ul class="flex--row">
        {%- include 'social-icons' -%}
      </ul>

    {%- endif -%}

  </div>
  <div class="credit">

    <h4 class="h4">

      {{ section.settings.footer_credit }}

    </h4>

  </div>
</div>
