/*================ Icon Banner =============
==========================================*/
.icon-banner {
  height: 136px;

  @media (max-width: $small) {
    height: 274px;
    padding: 24px 24px 24px 40px;
  }

  .col {
    flex: 1;
    background: #000;
    margin: auto;
  }

  .col:nth-child(2) {
    flex: 2;
    padding: 0 20px;
  }

  .sub-container {
    // flex: 1;
    max-width: 25%;

    @media (max-width: $small) {
      max-width: 100%;
    }
  }

}
